body {    
	min-height: 900px;
}

h1 {
    color: #09357A; 
}

.homeCards {
	position:relative;
	top: 20px;
}

.redEDf {
	color: #FE5815; 
}

.cardh {
    box-shadow: 1px 2px #888888;
	background-color: #09357A;
}

.card {
	box-shadow: 1px 2px #888888;
	border-color: #09357A;
}

.bg-holidays {
    background-color: #FE5815;
    border: solid 1px #ffffff;
}

.bg-stopTranche {
    background-color: #FFFF00;
    border: solid 1px #ffffff;
}


.bg-h {
    background-color: #cd0000;
    border: solid 1px #ffffff;
}

.bg-r {
    background-color: #008b00;
    border: solid 1px #ffffff;
}
