



h1, h2, h3 {
    color: #09357A;
    font-weight: bold;
}


/* header */

.custom-upper-headband {
    background-color: #09357A;
    min-height: 100px;
}

footer {    
    position: absolute;   
    bottom: -40px;
    width:100%;
}
 

.bg-holidays {
    background-color: #FE5815;
    border: solid 1px #ffffff;
}

.bg-menu {
    background-color: #e3f2fd;
}



/* buttons */
.btn-custom-redEDf {
	background-color: #FE5815;
        color:#ffffff;
}

.btn-custom-greenEDf {
	background-color: #009933;
        color:#ffffff;
}



/*Style of print bottom data table.net*/
.buttons-print {
  /*bootstrap primary  background-color: #007bff;*/
  background-color: white;
  color: black;
  margin : 5px;  
  border-radius: 5px;
}
.buttons-excel {
  background-color: white;
  color: black;
  margin : 5px;
  border-radius: 5px;
}

.buttons-copy {
  background-color: white;
  color: black;
  margin : 5px;
  border-radius: 5px;
}

.buttons-pdf {
  background-color: white;
  color: black;
  margin : 5px;
  border-radius: 5px;
}




 /* font awesome */

.fa-sign-out-alt, fa-sign-in-alt {
    color:#ffffff;
}

.fa-circle {
   color: #ffffff;
}

.fa-plus {
   color: #ffffff;
}



.fa-trash-alt {
    color: #09357A;
}

.fa-history {
     color: #09357A;
}


.fa-edit {
     color: #868e96;
}


#description {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


