{% extends 'base.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %} Saisir une date {% endblock %}

{% block body %}
    <header class="text-center py-3">
            <h1 class="bg-white-semi_transparent"><em class="text-dark">Saisir </em>UNE DATE</h1>
            <p>Vacances scolaires, Arrêt de tranche, Copat...</p>
    </header>
    <div class="my-2">
        <div class="container bg-light homeCards">
            <div class= "row">
                <div class="col-8 offset-2">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label for="inputState">Type</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choississez parmis les options suivantes...</option>
                                <option>Vacances scolaires</option>
                                <option>Arrêt de tranche</option>
                                <option>Copat</option>
                                <option>RCD</option>
                            </select>
                            </div>
                            <div class="form-group date col-md-6">
                                <label for="dateofbegin">Date de début</label>
                                <input type="date" class="form-control" id="datepicker1" placeholder=" jj/mm/aaaa" name="dateofbegin">                                    
                            </div>
                            <div class="form-group date col-md-6">
                                <label for="dateofend">Date de fin</label>
                                <input type="date" class="form-control" id="datepicker1" placeholder=" jj/mm/aaaa" name="dateofend">                                    
                            </div>

                        </div>
                        <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</head>
{% endblock %}
