{% extends 'base.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %} Accueil {% endblock %}

{% block body %}    
    <header class="text-center py-3">
            <h1 class="bg-white-semi_transparent"><em class="text-dark">Bienvenue sur </em>PLANIFICATION RHAT</h1>
            <p>La nouvelle application de saisie du planning des agents, pour les arrêts de tranche.</p>
    </header>
                  
                  
    <div class="my-2">
        <div class="container bg-light homeCards">
            <div class= "row">
                <div class="col-8 offset-2">				
                    <div class="card-deck text-center">
                        <div class="card">							
                        <div class="card-body">
                            <h3 class="card-title mb-5">Agent, <BR>chef d'équipe...</h3>							
                            <p class="card-text mx-3 mb-5"><strong>Voir, imprimer, modifier </strong><br>mon planning ou celui de mon équipe sur le prochain arrêt de tranche.</p>
                            <a href="{{path('showAgenda')}}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-eye"></i> Voir le planning</a>
                        </div>
                        </div>
                        <div class="card">							
                        <div class="card-body">
                            <h3 class="card-title mb-5">Appui RH, <br>Délégué ressources...</h3>							
                            <p class="card-text mx-3 mb-5"><strong>Renseigner</strong><br> le prochain arrêt de tranche, les vacances scolaires, le code planning...</p>
                            <a href="{{path('accueiladmin')}}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-white fa-edit "></i> Editer les informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}