{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/sl-1.2.6/datatables.min.css"/>
{% endblock %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">       
        <h1>Modifier l'utilisateur</h1>        
        <div class="form-group mb-2">
        {{ form_start(edit_form) }}           
        {{ form_widget(edit_form) }}                         
        {{ form_rest(edit_form) }}
         <button type="submit">Register!</button>
        {{ form_end(edit_form) }}               
        </div> 
    </div> 
{% endblock %}


{% block javascripts %}

{% endblock %}
    

