{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">       
        <h1>Modifier les règles</h1>        
            <div class="form-group mb-2">
            {{ form_start(form) }}           
            {{ form_widget(form) }}                         
            {{ form_rest(form) }}
            {{ form_end(form) }}
            </div>
    </div> 
{% endblock %}


{% block javascripts %}
{% endblock %}
    

